<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="copy">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		
			<a class="navbar-brand" th:href="@{/}">Minimalism </a>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarText" aria-controls="navbarText"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<div sec:authorize="hasRole('ROLE_ADMIN')">
							<a th:href="@{/admin/}" class="nav-link" role="button">Admin</a>
						</div>
					</li>
					<li class="nav-item">
						<div sec:authorize="hasRole('ROLE_MANAGER')">
							<a th:href="@{/manager/}" class="nav-link" role="button">Manager</a>
						</div>
					</li>
					<li class="nav-item">
						<div sec:authorize="hasRole('ROLE_COOK')">
							<a th:href="@{/cook/}" class="nav-link" role="button">Cook</a>
						</div>
					</li>
					<li class="nav-item">
						<div sec:authorize="hasRole('ROLE_DELIVERY')">
							<a th:href="@{/delivery/}" class="nav-link" role="button">Delivery</a>
						</div>
					</li>
					<li class="nav-item">
						<div sec:authorize="hasRole('ROLE_PURCHASE')">
							<a th:href="@{/purchase/}" class="nav-link" role="button">Purchase</a>
						</div>
					</li>
				</ul>
				
				<div class="row justify-content-end">
					<a th:href="@{/showOrder}" class="btn btn-outline-info" role="button">AddOrder</a>
					
					<div sec:authorize="!isAuthenticated()">
            			<a th:href="@{/showMyLoginPage}" class="btn btn-outline-info" role="button">Sign in</a>
        			</div>
					
					<div sec:authorize="isAuthenticated()">
						<form th:action="@{/logout}" method="post">
							<input type="submit" class="btn btn-outline-info" value="Sign Out" />
						</form>
					</div>
				</div>
			</div>
		</nav>		
	</div>
</body>
</html>